@model GoTB.WebUI.Models.CharacterViewModel[]

@{
    ViewBag.Title = "Выбранные";
}

<h2>Информация о ваших голосах</h2>

@ViewBag.Error
<br />
<br />
Вы выбрали следующих персонажей в эту неделю:
@foreach (var ch in @Model)
{
    Html.RenderAction("CharacterInfo", "Home", new {characterViewModel = ch});
}

@using (@Html.BeginForm("Submit"))
{
    <input type="submit" value="Подтвердить!" />
}
