@model GoTB.WebUI.Models.ButtonViewModel

@if (Model.NeedToShowButton)
{
    using (@Html.BeginForm(Model.Method, Model.Controller, FormMethod.Post))
    {
        <input type="submit" value="@Model.TextButton"/>
    }
}
else
{
    <div>@Model.TextIfNotNeeded</div>
}