<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width" />
 <title>@ViewBag.Title</title>
 <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
 <div id="header">
 <div class="title">Game of Thrones BINGO!</div>
 </div>
 <div id="categories">
     @{ Html.RenderAction("CartInfo", "Cart"); } <br/>
     @Html.ActionLink("На главную", "Index", "Home") <br/>
     @Html.ActionLink("Посмотреть выбранных", "Manage", "Cart") <br/>
 </div>
 <div id="content">
 @RenderBody()
 </div>
</body>
</html>